.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 32px 0 24px;

  .copyright {
    color: #2c3e50;
    margin: 0;
  }
}
